<div class="row">
  <div class="col-sm-9">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['/users']">Uživatelé</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Schůzky</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Rozhraní</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Nastavení</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Skupiny</a>
          <a class="dropdown-item" href="">Schůzky</a>
          <a class="dropdown-item" href="">Rozhraní</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="">Nastavení</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-sm-2 offset-sm-1">
    <button type="button" (click)="logout()" *ngIf="isLoggedIn()" class="btn btn-danger float-right">Odhlásit se
    </button>
  </div>
</div>

